* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

body {
	background-color: #f5f5f5;
}

.top {
	width: 100%;
	height: 40px;
	border-bottom: 1px #dcdcdc solid;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: #F5F5F5;
}

.top p {
	text-align: center;
	line-height: 40px;
	float: left;
	margin-left: 27%;
	letter-spacing: 1px;
}

.top i:first-child {
	float: left;
	margin-left: 10px;
	margin-top: 8px;
}

.top i:last-child {
	float: right;
	margin-right: 10px;
	margin-top: 8px;
}

.footer {
	width: 100%;
	height: 40px;
	border-bottom: 1px #dcdcdc solid;
	position: fixed;
	bottom: 0;
	z-index: 999;
	background-color: white;
}

.footer img {
	width: 40px;
	float: left;
}

.footer .nav {
	float: left;
	list-style: none;
	width: 88%;
	margin-left: 4px;
}

.footer .nav li {
	float: left;
	width: 33%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-left: 1px #ccc solid;
	margin-top: 5px;
}

@media screen and (max-width: 600px) {
	.top {
		width: 100%;
		height: 40px;
		border-bottom: 1px #dcdcdc solid;
		position: fixed;
		top: 0;
		z-index: 999;
	}

	.top p {
		text-align: center;
		line-height: 40px;
		float: left;
		margin-left: 27%;
		letter-spacing: 1px;
		font-weight: bold;
	}

	.top i:first-child {
		float: left;
		margin-left: 10px;
		margin-top: 8px;
	}

	.top i:last-child {
		float: right;
		margin-right: 10px;
		margin-top: 8px;
	}

	.footer {
		width: 100%;
		height: 40px;
		border-bottom: 1px #dcdcdc solid;
		position: fixed;
		bottom: 0;
		z-index: 999;
		background-color: white;
	}

	.footer .jp {
		width: 40px;
		float: left;
	}

	.footer .nav {
		float: left;
		list-style: none;
		width: 86%;
		margin-left: 4px;
	}

	.footer .nav li {
		float: left;
		width: 33%;
		height: 30px;
		text-align: center;
		line-height: 30px;
		border-left: 1px #dcdcdc solid;
		margin-top: 5px;
	}

	.footer .nav li img {
		float: left;
		width: 20px;
		height: 30px;
		margin-left: 26%;
	}

	.footer .nav li span {
		float: left;
	}

	.show1 {
		position: fixed;
		width: 29%;
		bottom: 42px;
		box-shadow: 4px 4px 22px 1px #ccc;
		z-index: 999;
		display: none;
		background-color: white;
	}

	.show1 p {
		width: 80%;
		margin-left: 10%;
		height: 40px;
		border-bottom: 1px #dcdcdc solid;
	}

	.show1 p a {
		text-decoration: none;
		color: black;
		line-height: 40px;
	}

	.show2 {
		position: fixed;
		width: 29%;
		bottom: 42px;
		box-shadow: 4px 4px 22px 1px #ccc;
		z-index: 999;
		display: none;
		background-color: white;
	}

	.show2 p {
		width: 80%;
		margin-left: 10%;
		height: 40px;
		border-bottom: 1px #dcdcdc solid;
	}

	.show2 p a {
		text-decoration: none;
		color: black;
		line-height: 40px;
	}

	.show3 {
		position: fixed;
		width: 29%;
		bottom: 42px;
		box-shadow: 4px 4px 22px 1px #ccc;
		z-index: 999;
		display: none;
		background-color: white;
	}

	.show3 p {
		width: 80%;
		margin-left: 10%;
		height: 40px;
		border-bottom: 1px #dcdcdc solid;
	}

	.show3 p a {
		text-decoration: none;
		color: black;
		line-height: 40px;
	}

	.main {
		width: 100%;
		margin-top: 50px;
	}

	.main .main_time {
		text-align: center;
		font-size: 12px;
	}

	.main_content {
		width: 92%;
		margin-left: 4%;
		border-radius: 5px;
		background-color: white;
		margin-top: 10px;
		overflow: hidden;
	}

	.main_top {
		width: 100%;
		height: 130px;
		background-image: url(../img/jpg1.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		position: relative;
	}

	.main_top p {
		width: 100%;
		height: 30px;
		position: absolute;
		color: white;
		font-weight: bold;
		letter-spacing: 1px;
		bottom: 0px;
		padding-left: 15px;
		background-color: rgba(0, 0, 0, 0.2);
	}

	.main_bottom {
		width: 100%;
		height: 80px;
	}

	.main_bottom p {
		width: 70%;
		font-size: 14px;
		margin-left: 15px;
		margin-top: 16px;
		float: left;
	}

	.main_bottom img {
		width: 60px;
		height: 60px;
		float: left;
		margin-top: 10px;
		margin-left: 5%;
	}
}
