* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

a {
	text-decoration: none;
}

body {
	background-color: #f5f5f5;
}

.top {
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: #F5F5F5;
}

.top p {
	text-align: center;
	line-height: 40px;
	float: left;
	margin-left: 31%;
	letter-spacing: 1px;
	font-weight: bold;
}

.top img:first-child {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	width: 20px;
}

.top img:last-child {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	width: 20px;
}

.user_info {
	margin-top: 40px;
	width: 100%;
	height: 170px;
	background-color: white;
}

.user_info table {
	width: 90%;
	margin-left: 10px;
	padding-top: 10px;
}

.user_info table tr td:first-child {
	width: 16%;
	height: 30px;
	color: black;
}

.user_info table tr td:last-child {
	width: 30%;
	height: 30px;
	text-align: left;
	color: #696969;
}

.department_info {
	margin-top: 10px;
	width: 100%;
	height: 140px;
	background-color: white;
}

.department_info table {
	width: 90%;
	margin-left: 10px;
	padding-top: 10px;
}

.department_info table tr td:first-child {
	width: 16%;
	height: 30px;
	color: black;
}

.department_info table tr td:last-child {
	width: 30%;
	height: 30px;
	text-align: left;
	color: #696969;
}

.box2 {
	width: 40px;
	height: 80px;
	border-radius: 30px;
	border: 2px #a1b9f4 solid;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 80px;
	background-color: rgba(234, 234, 234, 0.3);
}

.box2 img {
	width: 20px;
	margin-left: 10px;
}

.box2 .img1 {
	margin-top: 10px;
}

.box2 hr {
	border: px #a1b9f4 solid;
	width: 70%;
	margin-left: 15%;
	margin-top: 5px;
}

.box2 .img2 {
	margin-top: 6px;
}

.report {
	margin-top: 10px;
	width: 100%;
	height: 140px;
}

.report table {
	width: 100%;
}

.table_main td {
	width: 30%;
	height: 50px;
	text-align: left;
	color: #696969;
	background-color: white;
	border-bottom: 1px #F5F5F5 solid;
	font-size: 14px;
}

.table_main td:first-child {
	width: 28%;
	height: 50px;
	color: black;
	padding-left: 10px;
}

.table_main td:nth-child(2) {
	width: 25%;
	height: 50px;
	color: black;
	background-color: #f6f7fc;
}

.table_main td:last-child {
	width: 32%;
	height: 50px;
	color: #696969;
	padding-left: 10px;
}

.table_header td {
	font-size: 14px;
	color: #696969;
	height: 40px;
}

.table_header td:first-child {
	font-size: 14px;
	color: #696969;
	width: 28%;
	height: 40px;
	padding-left: 10px;
}

.table_header td:nth-child(2) {
	width: 25%;
	height: 40px;
	font-size: 14px;
	color: #696969;
}

.table_header td:last-child {
	width: 32%;
	height: 40px;
	color: #696969;
	text-align: right;
	padding-right: 10px;
}

.footer {
	width: 100%;
	height: 40px;
	background-color: #F5F5F5;
	position: fixed;
	bottom: 0px;
	z-index: 999;
}

.footer a:first-child {
	width: 50%;
	float: left;
}

.footer a:last-child {
	width: 50%;
	float: right;
}

.footer i {
	font-size: 18px;
	line-height: 40px;
}

.footer a:first-child i {
	float: right;
	margin-right: 25%;
	color: black;
}

.footer a:last-child i {
	float: left;
	margin-left: 15%;
	color: #959595;
}

@media screen and (max-width: 600px) {
	* {
		margin: 0;
		padding: 0;
		font-family: "微软雅黑";
	}

	a {
		text-decoration: none;
	}

	body {
		background-color: #f5f5f5;
	}

	.top {
		width: 100%;
		height: 40px;
		position: fixed;
		top: 0;
		z-index: 999;
		background-color: #F5F5F5;
	}

	.top p {
		text-align: center;
		line-height: 40px;
		float: left;
		margin-left: 31%;
		letter-spacing: 1px;
		font-weight: bold;
	}

	.top img:first-child {
		float: left;
		margin-left: 10px;
		margin-top: 10px;
		width: 20px;
	}

	.top img:last-child {
		float: right;
		margin-right: 10px;
		margin-top: 10px;
		width: 20px;
	}

	.user_info {
		margin-top: 40px;
		width: 100%;
		height: 170px;
		background-color: white;
	}

	.user_info table {
		width: 90%;
		margin-left: 10px;
		padding-top: 10px;
	}

	.user_info table tr td:first-child {
		width: 16%;
		height: 30px;
		color: black;
	}

	.user_info table tr td:last-child {
		width: 30%;
		height: 30px;
		text-align: left;
		color: #696969;
	}

	.department_info {
		margin-top: 10px;
		width: 100%;
		height: 140px;
		background-color: white;
	}

	.department_info table {
		width: 90%;
		margin-left: 10px;
		padding-top: 10px;
	}

	.department_info table tr td:first-child {
		width: 16%;
		height: 30px;
		color: black;
	}

	.department_info table tr td:last-child {
		width: 30%;
		height: 30px;
		text-align: left;
		color: #696969;
	}

	.box2 {
		width: 40px;
		height: 80px;
		border-radius: 30px;
		border: 2px #a1b9f4 solid;
		position: fixed;
		z-index: 999;
		right: 20px;
		bottom: 80px;
		background-color: rgba(234, 234, 234, 0.3);
	}

	.box2 img {
		width: 20px;
		margin-left: 10px;
	}

	.box2 .img1 {
		margin-top: 10px;
	}

	.box2 hr {
		border: px #a1b9f4 solid;
		width: 70%;
		margin-left: 15%;
		margin-top: 5px;
	}

	.box2 .img2 {
		margin-top: 6px;
	}

	.report {
		margin-top: 10px;
		width: 100%;
		height: 140px;
	}

	.report table {
		width: 100%;
	}

	.table_main td {
		width: 30%;
		height: 50px;
		text-align: left;
		color: #696969;
		background-color: white;
		border-bottom: 1px #F5F5F5 solid;
		font-size: 14px;
	}

	.table_main td:first-child {
		width: 28%;
		height: 50px;
		color: black;
		padding-left: 10px;
	}

	.table_main td:nth-child(2) {
		width: 25%;
		height: 50px;
		color: black;
		background-color: #f6f7fc;
	}

	.table_main td:last-child {
		width: 32%;
		height: 50px;
		color: #696969;
		padding-left: 10px;
	}

	.table_header td {
		font-size: 14px;
		color: #696969;
		height: 40px;
	}

	.table_header td:first-child {
		font-size: 14px;
		color: #696969;
		width: 28%;
		height: 40px;
		padding-left: 10px;
	}

	.table_header td:nth-child(2) {
		width: 25%;
		height: 40px;
		font-size: 14px;
		color: #696969;
	}

	.table_header td:last-child {
		width: 32%;
		height: 40px;
		color: #696969;
		text-align: right;
		padding-right: 10px;
	}

	.footer {
		width: 100%;
		height: 40px;
		background-color: #F5F5F5;
		position: fixed;
		bottom: 0px;
		z-index: 999;
	}

	.footer a:first-child {
		width: 50%;
		float: left;
	}

	.footer a:last-child {
		width: 50%;
		float: right;
	}

	.footer i {
		font-size: 18px;
		line-height: 40px;
	}

	.footer a:first-child i {
		float: right;
		margin-right: 25%;
		color: black;
	}

	.footer a:last-child i {
		float: left;
		margin-left: 15%;
		color: #959595;
	}
}
